[flake8]
# Максимальная длина строки — соответствует Black
max-line-length = 88

# Игнорируем некоторые правила, конфликтующие с Black или неактуальные
extend-ignore = E203, W503

# Исключаем папки/файлы, которые не надо проверять
exclude =
    .git,
    __pycache__,
    build,
    dist,
    venv
